*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    height: 100vh;
    background-color: #181818;
    color: #d3d3d3;
}
.score-container{
    display: flex;
    justify-content: space-around;
    height: 20vh;
    align-items: center;
}
.score-container h3{
    font-size: 2rem;
    color: #0ac284;
}
.score-container p{
    font-size: 1.7rem;
    text-align: center;
}
.ask-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}
.ask-container h1{
    font-size: 3rem;
    text-align: center;
}
.main-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
.choices, 
.btn-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 15vh;
    text-align: center;
}
.choices p{
    font-size: 2rem;
    font-style: italic;
}
.choices h2{
    font-size: 2.3rem;
    text-align: center;
    color: #d3d3d3;
    margin-top: 1rem;
    text-shadow: 0 0 5px #0ac284;
    height: 5vh;
}
button{
    padding: 10px 25px;
    font-size: 1.5rem;
    background-color: #0ac284;
    border: none;
    color: #181818;
    cursor: pointer;
    border-radius: 5px;
}
div.fadein{
    visibility: visible;
}
div.fadeout{
    visibility: hidden;
}
.message{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5rem;
    text-shadow:0 0 5px #0ac284;
    letter-spacing: 5px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.anim1{
    animation: spin 0.4s ease-in ;
}
.anim2{
    animation: drop 0.4s ease-in-out;
}
.anim3{
    animation: shake 0.4s ease-in-out;
}
@keyframes spin {
    10%{transform: scale(1.7);}
    50%{transform: rotateZ(180deg) scale(1.2);}
    100%{transform: rotateZ(360deg) scale(1);}
}

@keyframes drop {
    0%{transform: translateY(-5rem);}
    70%{transform: translateY(3rem) scale(1.3);}
    100%{transform: translateY(0) scale(1);}
}

@keyframes shake {
    0%{transform: translateY(-1rem);}
    70%{transform: translateY(1rem) scale(1.3);}
    100%{transform: translateY(0) scale(1);}
}

@media (max-width:900px) {
    .btn-container{
        flex-direction: column;
        margin-top: 5rem;
    }
    .score-container{
        flex-direction: column;
    }
    .message{
        margin-top:5rem ;
    }
    .choices p{
        font-size: 1.4rem;
    }
    .choices h2{
        font-size: 1.2rem;
    }
}

@media (max-width:350px) {
    .choices p{
        font-size: 1.2rem;
        margin: 0 1rem;
    }
    .choices h2{
        font-size: 1rem;
    }
}